@mixin hover {
  @media (any-hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin grid($size, $gap) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($size, 1fr));
  gap: $gap;
}


@mixin bg($url) {
  background-image: url($url);
  background-repeat: no-repeat;
}

