:root {
    // base
    --font-family: "PublicSans", sans-serif;
    --second-family: "LibreBaskerville", serif;
    --content-wigth: 1170px;
    --container-offset: 1rem;
    --offset: 2rem;

    // color
    --light-color: #fff;
    --accent-color: #00a1ff;
    --active-color: #e00e00;
    --text-color: #003331;


    // font

    --font-weight: 400;
}
